.profilePlaylistCard {
    img {
        border-radius: 3.82px;
    }

    p {
        color: #4F4F4F;
        font-size: 15px;
        font-weight: 600;
    }

    span {
        color: #6B7280;
        font-size: 13px;
        font-weight: 400;
    }
}