$fontStylesMap: (
  text-27-6-36: (color: #272727, font-weight: $fw-600, font-size: $fs-36),
  text-7a-4-20: (color: #7A8580, font-weight: $fw-400, font-size: $fs-20),
  text-6b-4-13: (color: #6B7280, font-weight: $fw-400, font-size: $fs-13),
  text-74-5-15: (color: #7414EE, font-weight: $fw-500, font-size: $fs-15),
  text-85-4-20: (color: #858585, font-weight: $fw-400, font-size: $fs-20),
  text-27-6-23: (color: #272727, font-weight: $fw-600, font-size: $fs-23),
  text-27-7-23: (color: #272727, font-weight: $fw-700, font-size: $fs-23),
  text-93-4-14: (color: #939393, font-weight: $fw-400, font-size: $fs-14),
  text-93-5-14: (color: #939393, font-weight: $fw-500, font-size: $fs-14),
  text-ff-9-12: (color: #FFFFFF, font-weight: $fw-900, font-size: $fs-12),
);

@each $class, $styles in $fontStylesMap {
  .#{$class} {
    @include fontStyles($styles);
  }
}

$ellipsisStylesMap: (
  narrow: 80px,
  standard: 120px,
  wide: 200px,
);

@each $class, $maxWidth in $ellipsisStylesMap {
  .ellipsis-#{$class} {
    @include ellipsisWithMaxWidth($maxWidth);
  }
}