$fontStylesMap: (
  charcoal-6-36: (color: $charcoal, font-weight: $fw-600, font-size: $fs-36),
  grey-4-20: (color: $grey, font-weight: $fw-400, font-size: $fs-20),
  grayish-blue-4-13: (color: $grayish-blue, font-weight: $fw-400, font-size: $fs-13),
  grayish-blue-4-14: (color: $grayish-blue, font-weight: $fw-400, font-size: $fs-14),
  primary-5-15: (color: $primary, font-weight: $fw-500, font-size: $fs-15),
  silver-4-20: (color: $silver, font-weight: $fw-400, font-size: $fs-20),
  charcoal-6-23: (color: $charcoal, font-weight: $fw-600, font-size: $fs-23),
  charcoal-7-23: (color: $charcoal, font-weight: $fw-700, font-size: $fs-23),
  medium-grey-4-14: (color: $medium-grey, font-weight: $fw-400, font-size: $fs-14),
  medium-grey-5-14: (color: $medium-grey, font-weight: $fw-500, font-size: $fs-14),
  medium-grey-5-16: (color: $medium-grey, font-weight: $fw-500, font-size: $fs-16),
  medium-grey-5-11: (color: $medium-grey, font-weight: $fw-500, font-size: $fs-11),
  white-9-12: (color: $white, font-weight: $fw-900, font-size: $fs-12),
  crimson-4-13: (color: $crimson, font-weight: $fw-400, font-size: $fs-13),
  navy-4-14: (color: $navy, font-weight: $fw-400, font-size: $fs-14),
  navy-5-14: (color: $navy, font-weight: $fw-500, font-size: $fs-14),
  primary-4-14: (color: $primary, font-weight: $fw-400, font-size: $fs-14),
  primary-5-14: (color: $primary, font-weight: $fw-500, font-size: $fs-14),
  steel-5-14: (color: $steel, font-weight: $fw-500, font-size: $fs-14),
  black70-6-16: (color: $black70, font-weight: $fw-600, font-size: $fs-16),
  steel-6-16: (color: $steel, font-weight: $fw-600, font-size: $fs-16),
  light-grey-6-15: (color: $light-grey, font-weight: $fw-600, font-size: $fs-15),
  black-4-13: (color: $black, font-weight: $fw-400, font-size: $fs-13),
  charcoal-5-12: (color: $charcoal, font-weight: $fw-500, font-size: $fs-12),
  white-3-24: (color: $white, font-weight: $fw-300, font-size: $fs-24),
  white-9-40: (color: $white, font-weight: $fw-900, font-size: $fs-40),
  charcoal-6-32: (color: $charcoal, font-weight: $fw-600, font-size: $fs-32),
  black-7-16: (color: $black, font-weight: $fw-700, font-size: $fs-16),
  black-7-14: (color: $black, font-weight: $fw-700, font-size: $fs-14),
  teal-5-12: (color: $teal, font-weight: $fw-500, font-size: $fs-12),
  white-7-16: (color: $white, font-weight: $fw-700, font-size: $fs-16),
  edward-5-14: (color: $edward, font-weight: $fw-500, font-size: $fs-14),
);

@each $class, $styles in $fontStylesMap {
  .#{$class} {
    @include fontStyles($styles);
  }
}

$ellipsisStylesMap: (
  narrow: 80px,
  standard: 120px,
  wide: 200px,
);

@each $class, $maxWidth in $ellipsisStylesMap {
  .ellipsis-#{$class} {
    @include ellipsisWithMaxWidth($maxWidth);
  }
}

.vanish-scroll {
  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.multiline-ellipsis {
  overflow: hidden;
  text-overflow: "ellipsis";
  display: -webkit-box; 
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;

  display: -moz-box;
  display: -ms-flexbox; 

  max-height: calc(1.2em * 5);
}
