$primary: #882BFF;

// font sizes
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-20: 20px;
$fs-23: 23px;
$fs-24: 24px;
$fs-36: 36px;
$fs-40: 40px;

// font weights
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

// colors
$grey: #7A8580;
$navy: #111827;
$white: #FFFFFF;
$steel: #374151;
$silver: #858585;
$crimson: #dc3545;
$charcoal: #272727;
$black-70: #000000B2;
$light-grey: #4F4F4F;
$medium-grey: #939393;
$grayish-blue: #6B7280;