$primary: #882BFF;

// font sizes
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-20: 20px;
$fs-23: 23px;
$fs-36: 36px;

// font weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;
