.profileInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .profileImgContainer {
        display: flex;
        align-items: center;
        gap: 33px;

        picture {
            img {
                border-radius: 12px;
            }
        }

        .profileDetails {
            display: flex;
            flex-direction: column;
            gap: 22px;

            p {
                color: #272727;
                font-weight: 600;
                font-size: 36px;
            }

            span {
                font-weight: 400;
                font-size: 20px;
                color: #7A8580;
            }
            
            button {
                border-radius: 6px;
                font-size: 15px;
                cursor: pointer;
                padding: 11px 15px;
                background-color: #882BFF;
                color: #FAFAFA;
                border: none;
            }
            
        }
    }

}
