@import "../../../styles/variables";

.chatHeader {
    padding: 24px 32px;
    border-left: 1px solid #E3E8E7;
    border-bottom: 1px solid #E3E8E7;

    p {
        font-size: $fs-20;
        font-weight: $fw-700;
    }
}