.chatSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: #272727;
            font-size: 24px;
            font-weight: 700;
        }

        img {
            cursor: pointer;
        }
    }

    .inputContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .input {
            display: flex;
            align-items: center;
            padding: 12px 20px;
            border-radius: 52px;
            border: 1px solid #E3E8E7;
            gap: 12px;

            input {
                width: 100%;
                height: 30px;
                border: none;
            }

            input:focus {
                outline: none;
            }

            input::placeholder {
                color: #6B7280;
                font-size: 16px;
            }
        }

        button {
            padding: 12px, 20px;
            background-color: #7414EE;
            border-radius: 52px;
            color: #FFFFFF;
            border: none;
            height: 44px;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            cursor: pointer;

            span:nth-of-type(1) {
                font-size: 20px;
            }
        }
    }
}