@import "../../styles/variables";


.active {
    background-color: $primary;
}

.secondMenu {
    border-radius: 0;
    border-top: 1px solid #C4C4C4;
    padding-top: 56px;

    li {
        font-size: 14px;
    }

    li:nth-of-type(1) {
        gap: 19.08px;
    }
}
