.chatStart {
    height: 100%;
    background-image: url(../../public/images/logo-blured.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .background {
        width: 100%;
        height: 100%;
        background: linear-gradient(#7D43A417, #2D34DA00, #D5CCFF8C);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
