.connect {
    background-color: #7414EE;
    color: #FFFFFF;
    cursor: pointer;
}

.connected {
    background-color: transparent;
    color: #7414EE;
    cursor: default;
}

.me {
    color: #7414EE;
}

.btn {
    border-radius: 1.91px;
    font-size: 13px;
    padding: 2px 12px;
}