.wrapper {
    width: 100vw;
    height: 100vh;

    .imgContainer {
        flex-basis: 50%;

        > div {
            background-size: cover;
            text-align: center;
            padding-top: 137px;
        }

        .login {
            background-image: url("../../public/images/welcome-login.png");
        }

        .register {
            background-image: url("../../public/images/welcome-register.png");
        }
    }

}